body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #00c8ff;
}

header {
  background-color: #333;
  color: #ededed;
  text-align: center;
  padding: 20px;
}

nav {
  margin: 0;
  padding: 0;
  background-color: ffff;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}
nav ul{
display: flex;
list-style: none;
justify-content: space-between;
padding: 1em;

}
nav li{
  margin: 0;
}
nav a{
  text-decoration: dashed;
  font-weight: bold;
  padding: 10px;
  margin: 0 10px;
  color: aqua;
  background-color: #333;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  font-size: small;
}



main {
  padding: 20px;
}

/* About Me Section */
#about img {
  max-width: 10%;
  height: auto;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.achievements,
.interests {
  margin-top: 20px;
}

/* Skills Section */
#skills ul {
  list-style: none;
  padding: 0;
}

#skills li {
  margin-bottom: 10px;
}

/* Projects Section */
#projects p strong {
  color: #333;
}

#projects a {
  color: #007BFF;
  text-decoration: none;
}

#projects a:hover {
  text-decoration: underline;
}

/* Experience Section */
#experience h3 {
  margin-top: 20px;
}

#experience ul {
  list-style: none;
  padding: 0;
}

#experience li {
  margin-bottom: 10px;
}

/* Contact Section */
#contact-form {
  margin-top: 10px;
}

#contact-form div {
  margin-bottom: 11px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.fa-submit{
  background:#4CAF50
}
#contact-form input,
#contact-form button {
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#contact-form button {
  background-color: #00c8ff;
  color: #7b3a7d;
  border: #007BFF;
  cursor: pointer;
  width: 80px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

#contact-form button:hover {
  background-color: #00b362;
}

/* Footer Section */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer a {
  color: #ffffff;
  margin: 0 10px;
}


  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  main {
    padding: 10px;
  }

  #about img {
    width: 100%;
  }
  .social-icons{
 size: 10px;
 padding-left: 20px;
  }
  .fa-google{
    color: red;
    background-color: rgb(255, 182, 127);
    size: 10px;
  }
  .fa-google:hover{
    color: rgb(255, 0, 0);
  }
.fa-github{
  background-color: black ;
}
.fa-github:hover{
  background-color: #007BFF;
}
.fa-twitter{
  color: #007BFF;
}
.linkedin{
  color: #007BFF;
}
.linkedin:hover{
  background-color: aqua;
}